<div class="pb_kpi_stat pb_flex pb_justify_between"> <%# Use flexbox for layout %>

  <div class="pb_flex pb_flex_col pb_items_end pb_text_right"> <%# Align items to the right %>
    <p class="pb_stat_value pb_text_xl"><%= value %></p>
    <span class="pb_flex pb_items_center">
      <% if change.to_f > 0 %>
        <span class="pb_icon_wrapper pb_mr_xs" style="color: #069668;"> <%# Custom inline style for the exact color %>
          <i class="fas fa-arrow-up"></i> <%# Up arrow icon %>
        </span>
      <% elsif change.to_f < 0 %>
        <span class="pb_icon_wrapper pb_mr_xs" style="color: #E01E5A;"> <%# Custom inline style for the exact color %>
          <i class="fas fa-arrow-down"></i> <%# Down arrow icon %>
        </span>
      <% end %>
      <p class="pb_stat_change"><%= change %></p>
    </span>
  </div>
</div>
