<%= react_component("App") %>

<%= render "shared/header" %>

<div id="app-container"> <%# Main content container for tabs %>
    <%= render partial: 'dashboard/index' %> <%# Render dashboard if it's the current page %>
</div>
